<meta name="color-scheme" content="light only">
<style>
:root {
     color-scheme: light only;
}
</style>
{{ if .Params.gallery }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.5/css/nanogallery2.min.css"/>
{{ end }}

