{{ $dir := .Get "directory" }}
{{ $nanogallery2_settings := getJSON "/static/ng2_gallery_compact.json" | jsonify}}
<div data-nanogallery2="{{$nanogallery2_settings}}">
    {{ $elements := .Page.Resources.Match ( $dir ) }}
    {{ range $index, $image := sort ( $elements ) }}
      {{ $.Scratch.Set "thumbnail" ($image.Resize "x300 q90") }}
      <a href="{{ $image.RelPermalink }}" data-ngthumb="{{ ($.Scratch.Get "thumbnail").RelPermalink }}"></a>
    {{ end }}
</div>
